<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Cursos </title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/pagina-cursos.css">
    <link rel="stylesheet" href="/css/tutorial-popup.css">
    <link
      rel="shortcut icon"
      href="/imgs/images_paeeja/paeeja-icon.ico"
      type="image/x-icon"
    />
</head>
<body>
 <!-- Parágrafo para redirecionar o btn Cursos -->
 <p id="inicioCursos"></p>
 <!-- POR FAVOR, NAO APAGUE!!!!!!!!!!! -->

<!--Inicialização da NAV nesta aba-->
<div id = "navbar"></div>

<!-- Conteúdo da sessão de cursos:-->
<main>
  <section class="secao-cursos">
      
      <h1 class = "todos-cursos-digitais">Todos os Cursos Digitais</h1>
      </div>
      <!-- Botão VOLTAR -->
  <nav class="top-menu">
    <div class="voltar-fixo"> 
    <a href="/">
    <img src="imgs/img_loja/voltar.png" alt="Voltar" class="seta-img" />
    <span>Voltar</span>
    </a>
    </div> 
  </nav>

      <div class="cursos-container">
        <div class="secao-curso-portugues">
            <h2 class="titulo-curso">Curso - Português</h2>
            <div class="grade-cursos">
                <a href="/materiaModulo" class="cartao-curso card-curso-port">
                    <div class="cartao-conteudo">
                        <div class="icone icone-port">
                            <img src="/imgs/imagens_tela_cursos/School.png" alt="Ícone do Curso" />
                        </div>
                        <div class="cartao-detalhes">
                            <p class="cartao-titulo">Curso Digital</p>
                            <h3 class="cartao-subtitulo">Língua Port. I</h3>
                            <p class="cartao-modulo">Módulo Único</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        
        <div class="secao-curso-matematica">
            <h2 class="titulo-curso">Curso - Matemática</h2>
            <div class="grade-cursos">
                <a href="link-para-curso-matematica" class="cartao-curso" style="pointer-events: none;" > <!-- Substitua o link -->
                    <div class="cartao-conteudo">
                        <div class="icone">
                            <img src="../imgs/imagens_tela_cursos/cadeado.png" alt="Ícone do Curso" />
                        </div>
                        <div class="cartao-detalhes">
                            <p class="cartao-titulo">Curso Digital</p>
                            <h3 class="cartao-subtitulo">Matemática I</h3>
                            <p class="cartao-modulo">Módulo Único</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        
        <div class="secao-curso-historia">
            <h2 class="titulo-curso">Curso - História</h2>
            <div class="grade-cursos">
                <a href="link-para-curso-historia" class="cartao-curso" style="pointer-events: none;"> <!-- Substitua o link -->
                    <div class="cartao-conteudo">
                        <div class="icone">
                            <img src="../imgs/imagens_tela_cursos/cadeado.png" alt="Ícone do Curso" />
                        </div>
                        <div class="cartao-detalhes">
                            <p class="cartao-titulo">Curso Digital</p>
                            <h3 class="cartao-subtitulo">História I</h3>
                            <p class="cartao-modulo">Módulo Único</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        
        
    
    </section>
  </main>

</section>

<script src="/js/script-login-cadastro.js"></script>
<script src="/js/navbar.js"></script>
<script src="/js/tutorial-popup.js"></script>
</body>
</html>