<div class="navbar">
    <!-- DIV da logo e a navegação das barras (nav) -->
    
    <div class="logo">
      <img onclick="navegacaoLogo()" src="/imgs/images_paeeja/logo-paeeja-sombreado.png" alt="Logo imagem" />
      
    </div>

    
      <img src="../imgs/images_paeeja/moeda-paeeja.png" alt="Moeda Paeeja">
      <span class="paeeja-moeda-valor">1900</span>

    <nav class="nav-menu">
      <ul>
        <li onclick="navegacaoCursos()" class="cursos">Cursos</li>
        <li onclick="navegacaoLoja()" class="sobrenos">Loja</li>
        <li onclick="navegacaoFale()" class="falecos">FAQ</li>

      </ul>
    </nav>




    <!-- Div da entrada de login -->
    <div class="entrada-links">
      <a href="/login" id="botaoEntrarNav"> Entrar</a>
      <a
        href="/register"
        class="registrar-link"
        id="botaoCadastrarNav"
      >
        Cadastrar</a
      >
      <p hidden id="nomeUsuario" class="nome-usuario-logado"></p>
      <img
        hidden
        src="/icons-svg/icon2-userprofile.svg"
        alt="icone do usuario"
        id="iconUsuario"
        class="icon-usuario"
      />
      <a
        href="section-login.html"
        id="botaoSair"
        class="sair-link"
        onclick="sairLogin(event)"
        style="display: none"
        >Sair</a
      >
    </div>
  </div>



