<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PAEEJA - Cadastro</title>
    <link rel="stylesheet" href="/css/stylesSignUp.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400&display=swap"
      rel="stylesheet"
    />

    <link
      rel="shortcut icon"
      href="/imgs/images_paeeja/paeeja-icon.ico"
      type="image/x-icon"
    />
    
    <!-- API da conta Google -->
    <script src="https://accounts.google.com/gsi/client" async></script>
    <!-- DECODIFICAÇÃO TOKEN JWT -->
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.js"></script>

  </head>

  <body>
    <main class="main-container-cadastro">
      <!-- Seção de Formulário de Cadastro -->
      <section class="form-section-cadastro">
        <header class="form-header-cadastro">
          <div class="container-logo-cadastro">
            <a href="/">
            <img
              id="img-logo-cadastro"
              src="/imgs/images_paeeja/logo-paeeja-sombreado.png"
              alt="Logo da Paeeja"
            />
            </a>
          </div>
          <h1 class="form-title-cadastro">Cadastre-se</h1>
        </header>

        <!-- Formulário de Cadastro -->
        <form
          class="registration-form-cadastro"
          onsubmit="cadastrarUsuario(event)"
        >
          <div class="form-group-cadastro">
            <input
              type="text"
              id="nome"
              name="nome"
              class="form-input-cadastro"
              placeholder="Nome Completo"
              required
            />
          </div>
          <div class="form-group-cadastro">
            <input
              type="email"
              id="email"
              name="email"
              class="form-input-cadastro"
              placeholder="Email"
              required
            />
          </div>
          <div class="form-group-cadastro">
            <input
              type="password"
              id="senha"
              name="senha"
              class="form-input-cadastro"
              placeholder="Senha"
              required
            />
            <i class="bi bi-eye" id="btnRevelarSenhaRegister" onclick="esconderOuRevelar2()"></i>
          </div>
          <div class="form-group-cadastro">
            <input
              type="password"
              id="confirmarSenha"
              name="confirmarSenha"
              class="form-input-cadastro"
              placeholder="Confirmar a Senha"
              required
            />
            <i class="bi bi-eye" id="btnRevelarSenhaRegister2" onclick="esconderOuRevelar3()"></i>
          </div>
          <p id="errormsg2" class="error-message" hidden>
            As senhas devem estar iguais!
          </p>
          <button type="submit" class="form-submit-btn-cadastro">
            Cadastrar
          </button>
        </form>

        <!-- Login Social -->
        <div class="social-login-container-cadastro">
          <!-- <p class="social-login-text-cadastro">Ou faça login com:</p> -->
          <div class="social-login-buttons-cadastro">
            <!-- Botão para login GOOGLE -->
            <div id="buttonDiv"></div>
            <!-- PARAGRAFOS para mostrar no site os objetos que a google fornece do usuário que faz login -->
            <p id="fullName"></p>
            <p id="sub"></p>
            <p id="given_name"></p>
            <p id="family_name"></p>
            <p id="verified_email"></p>
            <p id="picture"></p>
          </div>
        </div>

        <!-- Rodapé do Formulário -->
        <footer class="form-footer-cadastro">
          <p class="signup-text-cadastro">
            Já possui uma conta?<br />
            <a href="/views/login.html" class="signup-link-cadastro"
              > <strong>Clique aqui</strong></a
            >
            para acessar.
            
          </p>
        </footer>
      </section>

      <!-- Seção de Imagem Principal -->
      <section class="image-section-cadastro"></section>
    </main>

    <script src="/js/script-login-cadastro.js" defer></script>
  </body>
</html>
