    body {
      font-family: 'Poppins', sans-serif;
      margin: 0;
      padding: 0;
    }

    .voltar-fixo a {
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
    }

    .voltar-fixo span {
    font-size: 30px;   /* tamanho da fonte que quiser */
    font-weight: 700;  /* negrito */
    color: #48A14D;    /* mesma cor que você está usando */
    line-height: 1;    /* evita espaçamento estranho */
    }

    .faq {
      max-width: 800px;
      margin: 50px auto;
      padding-top: 120px;
    }

    .faq h2 {
      text-align: center;
      margin-bottom: 30px;
      font-weight: 700;
    }

    .faq-item {
      margin-bottom: 20px;
    }

    .faq-question {
      font-weight: 700;
      margin-bottom: 5px;
    }

    .faq-answer {
      margin-left: 15px;
    }