@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/*----------------------------------------
------------------------------------------
-------------------------------------------
ESTILOS DA TELA DE CURSOS
-----------------------------------------
---------------------------------------
----------------------------------------
*/

.todos-cursos-digitais {
  color: #319F43;
  padding: 20px 40px;
  margin-top: 200px;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}

.top-menu {
  position: relative;  /* essa linha aqui */
  margin-top: 30px; /* empurrado mais para baixo */
  height: 48px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  gap: 30px;
}

.top-menu .active {
  color: #48A14D;
  font-weight: bold;
  font-size: 35px;
}

.top-menu a {
  margin: 0 15px;
  text-decoration: none;
  color: #48A14D;
  font-weight: bold;
  position: relative;
  font-size: 27px;
}

.voltar-fixo {
  position:relative;
  left: 20px;
  margin-top: -130px; 
  font-size: 24px;
  font-weight: 700;
  color: #48A14D;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.seta-img {
  width: 27px;
  height: auto;
}

.voltar-fixo span {
  font-size: 24px;   /* tamanho da fonte que quiser */
  font-weight: 700;  /* negrito */
  color: #48A14D;    /* mesma cor que você está usando */
  line-height: 1;    /* evita espaçamento estranho */
}

.barra-pesquisa {
  padding: 20px 40px;
  display: flex;
}
.barra-pesquisa input {
  border: none;
  border-top-left-radius: 10px; /* Arredonda o canto superior esquerdo */
  border-bottom-left-radius: 10px; /* Arredonda o canto inferior esquerdo */
  width: 300px;
  height: 50px;
  padding: 10px;
  outline: none;
  background-color: #031836;
}

.barra-pesquisa button {
  background-color: #031836;
  border: none;
  color: white;
  padding: 8px; /* Ajuste o padding lateral para melhor ajuste */
  cursor: pointer;
  height: 50px; /* Mantenha a altura consistente com o input */
  display: flex; /* Para alinhar o ícone no centro */
  align-items: center; /* Alinha verticalmente o ícone */
  border-top-right-radius: 10px; /* Arredonda o canto superior direito */
    border-bottom-right-radius: 10px; /* Arredonda o canto inferior direito */
}

.barra-pesquisa button i {
  font-size: 20px; /* Tamanho do ícone */
}
.barra-pesquisa button img {
  width: 40px; /* Ajuste a largura conforme necessário */
  height: auto; /* Mantém a proporção da imagem */
}

.titulo-curso {
  color: #319F43;
  padding: 20px 40px;
  font-family: "Poppins", sans-serif;
}
.titulo-curso-geografia{
  color: #319F43;
  padding: 20px 40px;
  font-family: "Poppins", sans-serif;
  margin-top: -100px;
}

/* Flex container para as seções de cursos */
.cursos-container {
  display: flex;
  padding: 20px 40px;
  gap: 155px; /* Espaço entre as seções */
  flex-wrap: wrap; /* Permite que as seções quebrem linha em telas menores */
}

/* Grades de cursos ainda estão como estão */
.grade-cursos {
  display: flex;
  gap: 20px;
}

/* Cards */

/* Cards inativos */
.cartao-curso {
  background-color: #ADABAB; /* Fundo do card */
  padding: 20px 40px;
  border-radius: 10px;
  width: 340px;
  height: 150px;
  display: flex;
  align-items: center;
}

.card-curso-port{
  background-color: #319F43;

}



.cartao-conteudo {
  display: flex;
  flex-direction: row; /* Alinha o ícone e o conteúdo lado a lado */
  align-items: center;
  gap: 20px; /* Espaço entre o ícone e o conteúdo */
}

.icone {
  background-color: #D9DAD7; /* Cor de fundo do ícone */
  width: 110px; /* Largura do quadrado */
  height: 90px; /* Altura do quadrado */
  display: flex;
  justify-content: center; /* Centraliza a imagem horizontalmente */
  align-items: center; /* Centraliza a imagem verticalmente */
  border-radius: 5px; /* Bordas arredondadas do quadrado */
}

.icone-port{
  background-color: #76C2FF;

}

.icone img {
  width: 56.736083984375px; /* Ajuste o tamanho da imagem do ícone */
  height: 75.73033142089844px;
}

.cartao-detalhes {
  display: flex;
  flex-direction: column; /* Coloca o título, subtítulo e módulo em coluna */
  justify-content: center;
}

.cartao-titulo {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;;
  margin-bottom: 5px;
  color: #E9E7E3; /* Cor do texto do título */
}

.cartao-subtitulo {
  font-family: 'Poppins', sans-serif;;
  font-size: 17px;
  margin-bottom: 5px;
  color: #fff; /* Cor do subtítulo */
}

.cartao-modulo {
  font-family: 'Poppins', sans-serif;;
  font-size: 13px;
  color: #F9D00F; /* Cor do texto do módulo */
}


